*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.main{
    background: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);
}